.divRegistro{
    width: 50%;
    margin: auto;
    border-style: groove;
    border-radius: 1%;
    padding: 1%;
    background-color: #B6E1E7;
    margin-top: 1%;
}

.bodyRegistro{
    background-color: #F9B872;
}

.textareaSobreTi{
    width: 382% !important;
}

.logo{
    width: 12%;
    height: 12%;
    display: block;
    padding: 2%;
}

.listaMenu{
    width: 40%;
    margin: auto;
}

.botonesLista{
    width: 80%;
    display: flex;
    justify-content: center;
    background-color:#f8ac5b !important;
    text-decoration: none;
    color: rgb(55, 50, 39) !important;
    font-weight: bold;
}

.cabezaMenu{
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    color: rgb(55, 50, 39);
    background-color: #B6E1E7 !important;
}

.itemLista{
    background-color: #B6E1E7 !important;
    color: grey;
    justify-content: center;
}

.itemLista a:hover,
.itemLista a:focus {
    color: #748392 !important;
}
.itemLista a{
    display: flex;
    justify-content: center;
}

.linkMenu{
    text-decoration: none;
}

.divLogin{
    width: 50%;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    padding: 2%;
    background-color: #B6E1E7;
    border-radius: 2%;
}